.form{
	padding:14px;
}

/* ----------- basic ----------- */
#basic{
	border:1px solid #C1DAD7;
}
#basic h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}
#basic p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:1px solid #C1DAD7;
	padding-bottom:10px;
}
#basic label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}
#basic .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
#basic input{
	float:left;
	width:200px;
	margin:2px 0 30px 10px;
}
#basic button{ 
	clear:both;
	margin-left:150px;
	background:#888888;
	color:#FFFFFF;
	border:1px solid #C1DAD7;
	font-size:11px;
	font-weight:bold;
	padding:4px 6px;
}


/* ----------- stylized ----------- */
#stylized{
	
	border:1px solid lightgreen;
	background: #FFFFCC;

}


#stylized h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}
#stylized p{
	clear:both;
	font-size:11px;
	color:#666666;
	margin-bottom:30px;
	border-bottom:1px solid #C1DAD7;
	padding-bottom:10px;
}

#stylized label{
	
	display:block;
	text-align:right;
	width:200px;
	float:left;
	color:green;
	font:bold 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}
#stylized .small{
	color:#4f6b72;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:200px;
}
#stylized input[type="text"],input[type="password"],select{
	margin:2px 0 20px 10px;
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:1px solid #C1DAD7;
	width:200px;
	
}

#stylized input[type="radio"]  { 
	
	text-align: left;
	margin:2px 0 20px 10px;
}



#stylized input[type="submit"]  { 
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	/*background:#666666 url(http://localhost/inventory/assets/images/button.png) no-repeat;*/
	text-align:center;
	font-size:12px;
}

#stylized button  { 
	clear:both;
	width:125px;
	height:31px;
	/*background:#666666 url(http://localhost/inventory/assets/images/button.png) no-repeat;*/
	text-align:center;
	font-size:12px;
}

/* ----------- stylized ----------- */
#stylized_sub{
	
	
	border:1px solid lightgreen;
	background: #FFFFCC;

}

div#right tr:hover {background-color:#FFF;}


#stylized_sub h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}
#stylized_sub p{
	clear:both;
	font-size:11px;
	color:#666666;
	margin-bottom:30px;
	border-bottom:1px solid #C1DAD7;
	padding-bottom:10px;
}
#stylized_sub label{
	
	display:block;
	text-align:right;
	width:200px;
	float:left;
	color:#4f6b72;
	font:bold 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}
#stylized_sub .small{
	color:#4f6b72;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:200px;
}
#stylized_sub input,select{
	
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:1px solid #C1DAD7;
	width:200px;
	margin:2px 0 20px 10px;
}




#stylized_sub input[type="submit"]  { 
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	/*background:#666666 url(http://localhost/inventory/assets/images/button.png) no-repeat;*/
	text-align:center;
	font-size:10px;
}

/* ----------- stylized ----------- */
#stylized_class{
	
	border:1px solid lightgreen;
	background: #FFFFCC;

}

div#right tr:hover {background-color:#FFF;}


#stylized_class h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}
#stylized_class p{
	clear:both;
	font-size:11px;
	color:#666666;
	margin-bottom:30px;
	border-bottom:1px solid #C1DAD7;
	padding-bottom:10px;
}
#stylized_class label{
	
	display:block;
	text-align:right;
	width:200px;
	float:left;
	color:#4f6b72;
	font:bold 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}
#stylized_class .small{
	color:#4f6b72;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:200px;
}
#stylized_class input,select{
	
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:1px solid #C1DAD7;
	width:200px;
	margin:2px 0 20px 10px;
}




#stylized_class input[type="submit"]  { 
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	/*background:#666666 url(http://localhost/inventory/assets/images/button.png) no-repeat;*/
	text-align:center;
	font-size:10px;
}

/* ----------- stylized ----------- */
#stylized_uom{
	
	border:1px solid lightgreen;
	background: #FFFFCC;

}

div#right tr:hover {background-color:#FFF;}


#stylized_uom h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}
#stylized_uom p{
	clear:both;
	font-size:11px;
	color:#666666;
	margin-bottom:30px;
	border-bottom:1px solid #C1DAD7;
	padding-bottom:10px;
}
#stylized_uom label{
	
	display:block;
	text-align:right;
	width:200px;
	float:left;
	color:#4f6b72;
	font:bold 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}
#stylized_uom .small{
	color:#4f6b72;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:200px;
}
#stylized_uom input,select{
	
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:1px solid #C1DAD7;
	width:200px;
	margin:2px 0 20px 10px;
}




#stylized_uom input[type="submit"]  { 
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	/*background:#666666 url(http://localhost/inventory/assets/images/button.png) no-repeat;*/
	text-align:center;
	font-size:10px;
}





